@import "tailwindcss";

@theme {
  --color-primary: #2b7fff;
  --color-border: #e2e8f0;
  --color-input: #e2e8f0;
  --color-ring: #3b82f6;
  --color-background: #ffffff;
  --color-foreground: #0f172a;
  --color-secondary: #f6f6f7;
  --color-destructive: #ef4444;
  --color-muted: #94a3b8;
  --color-accent: #1e1e1e;
  --color-popover: #f9fafb;
  --color-darkBg: #1d1d1f;
  --color-darkMain: #01030e;
  --color-dark: #080a1b;
}

body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}
